/* Reset some default styles */
body, h1 {
    margin: 0;
    padding: 0;
}

/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

.map-container {
    width: 100%; /* Make the map container responsive */
    height: 400px;
}

.controls {
    margin-top: 10px;
    text-align: center;
}

#select-layer {
    padding: 5px;
}

#loading-indicator {
    font-weight: bold;
    color: #007bff;
}

.hidden {
    display: none;
}
